body {
    background-color: #252525;
    color: #FEFEFE;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    font-family: "myriad-pro", Helvetica Neue, Helvetica, sans-serif;
}
h1, h3 {
    font-weight: 300;
}
.container-fluid {
    margin-top: 1% !important;
    width: 95%;
    align-content: center;
    text-align: center; 
    margin: 0 auto;
}
.card {
    background-color: #23272A !important;
    align-content: center;
    text-align: center;
}
.card2 {
    background-color: #23272A !important;
    align-content: center;
    text-align: center;
}
.card-title {
    color: darkorange;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.card-content p {
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.card-action {
    padding: 0;
    margin: 0;
}
.card-action ul {
    display: inline;
}
.card-action li {
    display: inline-block;
}
.card-action i {
    color: darkorange;
}
.card-action i:hover {
    resize: 1.2;
}
.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}
.text-center {
  text-align: center;   
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1.6s;
  -MS-animation-duration: 1s;
  -MS-animation-delay: 1.6s;
  -o-animation-duration: 1s;
  -o-animation-delay: 1.6s;
}
.text-center a {
    color: darkorange;
}
/*  FPB.im  */
.card:nth-last-child(6) { 
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s; 
  -MS-animation-duration: 1s;
  -MS-animation-delay: 1s; 
  -o-animation-duration: 1s;
  -o-animation-delay: 1s;     
}
/*  Portfolio.FrancisPBaker.com  */
.card:nth-last-child(4) { 
  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-duration: 1.2s;
  -moz-animation-delay: 1.2s;
  -MS-animation-duration: 1.2s;
  -MS-animation-delay: 1.2s;
  -o-animation-duration: 1.2s;
  -o-animation-delay: 1.2s;
}
/*  FrancisPBaker.com  */
.card:nth-last-child(2) { 
  -webkit-animation-duration: 1.4s;
  -webkit-animation-delay: 1.4s;
  -moz-animation-duration: 1.4s;
  -moz-animation-delay: 1.4s;
  -MS-animation-duration: 1.4s;
  -MS-animation-delay: 1.4s;
  -o-animation-duration: 1.4s;
  -o-animation-delay: 1.4s;
}
/*  Creator.House  */
.card:nth-last-child(3) { 
  -webkit-animation-duration: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-duration: 1.8s;
  -moz-animation-delay: 1.8s;
  -MS-animation-duration: 1.8s;
  -MS-animation-delay: 1.8s;
  -o-animation-duration: 1.8s;
  -o-animation-delay: 1.8s;
}
/*  XMPP.in  */
.card:nth-last-child(5) { 
  -webkit-animation-duration: 1.6s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-duration: 1.6s;
  -moz-animation-delay: 1.6s;
  -MS-animation-duration: 1.6s;
  -MS-animation-delay: 1.6s;
  -o-animation-duration: 1.6s;
  -o-animation-delay: 1.6s;
}
/*  Userscripts  */
.card:nth-last-child(1) { 
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 2s;
  -MS-animation-duration: 2s;
  -MS-animation-delay: 2s;
  -o-animation-duration: 2s;
  -o-animation-delay: 2s;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (max-width: 990px) and (min-width: 601px) {
    .cards-container {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
     }
    /*  FPB.im  */
    .card:nth-last-child(6) { 
      -webkit-animation-duration: 1s !important;
      -webkit-animation-delay: 1s !important;
      -moz-animation-duration: 1s !important;
      -moz-animation-delay: 1s !important; 
      -MS-animation-duration: 1s !important;
      -MS-animation-delay: 1s !important; 
      -o-animation-duration: 1s !important;
      -o-animation-delay: 1s !important;     
    }
    /*  Portfolio.FrancisPBaker.com  */
    .card:nth-last-child(4) { 
      -webkit-animation-duration: 1.8s !important;
      -webkit-animation-delay: 1.8s !important;
      -moz-animation-duration: 1.8s !important;
      -moz-animation-delay: 1.8s !important;
      -MS-animation-duration: 1.8s !important;
      -MS-animation-delay: 1.8s !important;
      -o-animation-duration: 1.8s !important;
      -o-animation-delay: 1.8s !important;
    }
    /*  FrancisPBaker.com  */
    .card:nth-last-child(2) { 
      -webkit-animation-duration: 1.6s !important;
      -webkit-animation-delay: 1.6s !important;
      -moz-animation-duration: 1.6s !important;
      -moz-animation-delay: 1.6s !important;
      -MS-animation-duration: 1.6s !important;
      -MS-animation-delay: 1.6s !important;
      -o-animation-duration: 1.6s !important;
      -o-animation-delay: 1.6s !important;        
    }
    /*  Creator.House  */
    .card:nth-last-child(3) { 
      -webkit-animation-duration: 1.2s !important;
      -webkit-animation-delay: 1.2s !important;
      -moz-animation-duration: 1.2s !important;
      -moz-animation-delay: 1.2s !important;
      -MS-animation-duration: 1.2s !important;
      -MS-animation-delay: 1.2s !important;
      -o-animation-duration: 1.2s !important;
      -o-animation-delay: 1.2s !important;    
    }
    /*  XMPP.in  */
    .card:nth-last-child(5) { 
      -webkit-animation-duration: 1.4s !important;
      -webkit-animation-delay: 1.4s !important;
      -moz-animation-duration: 1.4s !important;
      -moz-animation-delay: 1.4s !important;
      -MS-animation-duration: 1.4s !important;
      -MS-animation-delay: 1.4s !important;
      -o-animation-duration: 1.4s !important;
      -o-animation-delay: 1.4s !important;
    }
    /*  Userscripts  */
    .card:nth-last-child(1) { 
      -webkit-animation-duration: 2s !important;
      -webkit-animation-delay: 2s !important;
      -moz-animation-duration: 2s !important;
      -moz-animation-delay: 2s !important;
      -MS-animation-duration: 2s !important;
      -MS-animation-delay: 2s !important;
      -o-animation-duration: 2s !important;
      -o-animation-delay: 2s !important;
    }    
}
@media only screen and (min-width: 993px) {
    .cards-container {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    /*  FPB.im  */
    .card:nth-last-child(6) { 
      -webkit-animation-duration: 1s !important;
      -webkit-animation-delay: 1s !important;
      -moz-animation-duration: 1s !important;
      -moz-animation-delay: 1s !important; 
      -MS-animation-duration: 1s !important;
      -MS-animation-delay: 1s !important; 
      -o-animation-duration: 1s !important;
      -o-animation-delay: 1s !important;     
    }
    /*  Portfolio.FrancisPBaker.com  */
    .card:nth-last-child(4) { 
      -webkit-animation-duration: 1.4s !important;
      -webkit-animation-delay: 1.4s !important;
      -moz-animation-duration: 1.4s !important;
      -moz-animation-delay: 1.4s !important;
      -MS-animation-duration: 1.4s !important;
      -MS-animation-delay: 1.4s !important;
      -o-animation-duration: 1.4s !important;
      -o-animation-delay: 1.4s !important;    
    }
    /*  FrancisPBaker.com  */
    .card:nth-last-child(2) { 
      -webkit-animation-duration: 1.8s !important;
      -webkit-animation-delay: 1.8s !important;
      -moz-animation-duration: 1.8s !important;
      -moz-animation-delay: 1.8s !important;
      -MS-animation-duration: 1.8s !important;
      -MS-animation-delay: 1.8s !important;
      -o-animation-duration: 1.8s !important;
      -o-animation-delay: 1.8s !important;    
    }
    /*  Creator.House  */
    .card:nth-last-child(3) { 
      -webkit-animation-duration: 1.6s !important;
      -webkit-animation-delay: 1.6s !important;
      -moz-animation-duration: 1.6s !important;
      -moz-animation-delay: 1.6s !important;
      -MS-animation-duration: 1.6s !important;
      -MS-animation-delay: 1.6s !important;
      -o-animation-duration: 1.6s !important;
      -o-animation-delay: 1.6s !important;          
    }
    /*  XMPP.in  */
    .card:nth-last-child(5) { 
      -webkit-animation-duration: 1.2s !important;
      -webkit-animation-delay: 1.2s !important;
      -moz-animation-duration: 1.2s !important;
      -moz-animation-delay: 1.2s !important;
      -MS-animation-duration: 1.2s !important;
      -MS-animation-delay: 1.2s !important;
      -o-animation-duration: 1.2s !important;
      -o-animation-delay: 1.2s !important;    
    }
    /*  Userscripts  */
    .card:nth-last-child(1) { 
      -webkit-animation-duration: 2s !important;
      -webkit-animation-delay: 2s !important;
      -moz-animation-duration: 2s !important;
      -moz-animation-delay: 2s !important;
      -MS-animation-duration: 2s !important;
      -MS-animation-delay: 2s !important;
      -o-animation-duration: 2s !important;
      -o-animation-delay: 2s !important;
    } 
}